<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.namoo.mybatis.blog.mapper.AuthorMapper">

	<resultMap id="authorMap" type="Author">
		<id column="id" property="id" javaType="string" jdbcType="VARCHAR" />
		<result property="name" column="name" javaType="string" jdbcType="VARCHAR"/>
		<result property="password" column="password" javaType="string" jdbcType="VARCHAR"/>
		<result property="email" column="email" javaType="string" jdbcType="VARCHAR"/>	   
		
		<!-- reuse resultMap join column rename  -->
		 <!--  TODO -->
        <!--    	reuse end -->   	
	</resultMap>

	<sql id="selectAuthor">
		SELECT id, password, name, email 
		FROM author_tb 
	</sql>

	<select id="findAllAuthors" resultMap="authorMap">
		<include refid="selectAuthor"/>
		ORDER BY ID DESC
	</select>

	<select id="findAuthor" parameterType="string" resultType="Author" >
		<include refid="selectAuthor"/> 
		WHERE id = #{id, jdbcType=VARCHAR}
	</select>
	
	<insert id="registAuthor" parameterType="Author">
		INSERT INTO author_tb (id, password, name, email)
		VALUES (#{id},#{password},#{name},#{email})
	</insert>

	<update id="deleteAuthor" parameterType="Author">
		DELETE FROM author_tb
		WHERE id = #{id}
	</update>

	<select id="findAuthorsByIds" resultType="Author">
		<include refid="selectAuthor"/>
		WHERE id IN
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<select id="findAuthorByCondition" parameterType="map" resultType="Author">
		<include refid="selectAuthor"/>
		<where>
			<if test="id != null">id = #{id}</if>
		</where>
	</select>

	<update id="updateAuthor" parameterType="Author" keyProperty="id" keyColumn="id">
		UPDATE author_tb
		<trim prefix="SET" suffixOverrides=",">
			<if test="password != null">password = #{password},</if>
			<if test="name != null">name = #{name},</if>
			<if test="email != null">email = #{email},</if>
		</trim>
		WHERE id = #{id}
	</update>
</mapper>